ALL THE COLORS:
<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile class="p700" [colspan]="1" [rowspan]="1">primary darker</mat-grid-tile>
  <mat-grid-tile class="p500" [colspan]="1" [rowspan]="1">primary default</mat-grid-tile>
  <mat-grid-tile class="p300" [colspan]="1" [rowspan]="1">primary lighter</mat-grid-tile>
  <mat-grid-tile class="p100" [colspan]="1" [rowspan]="1">primary 100</mat-grid-tile>

  <mat-grid-tile class="a700" [colspan]="1" [rowspan]="1">accent darker</mat-grid-tile>
  <mat-grid-tile class="a500" [colspan]="1" [rowspan]="1">accent default</mat-grid-tile>
  <mat-grid-tile class="a300" [colspan]="1" [rowspan]="1">accent lighter</mat-grid-tile>
  <mat-grid-tile class="a100" [colspan]="1" [rowspan]="1">accent 100</mat-grid-tile>

  <mat-grid-tile class="w700" [colspan]="1" [rowspan]="1">warn darker</mat-grid-tile>
  <mat-grid-tile class="w500" [colspan]="1" [rowspan]="1">warn default</mat-grid-tile>
  <mat-grid-tile class="w300" [colspan]="1" [rowspan]="1">warn lighter</mat-grid-tile>
  <mat-grid-tile class="w100" [colspan]="1" [rowspan]="1">warn 100</mat-grid-tile>

  <mat-grid-tile class="special" [colspan]="4" rowspan="1">super special status</mat-grid-tile>
</mat-grid-list>
