@mixin status-indicator-theme($theme) {
  $business: map-get($theme, business);

  .super-special-status {
    background: mat-color($business, super-special-status);
  }
}

.status-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
