@mixin app-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  .elevated-area {
    margin: 5px 0;
    max-width: 250px;
    border: 2px solid mat-color($accent, darker);
    border-radius: 10px;
    background: mat-color($background, card);

    .mat-form-field {
      padding: 10px 5px;
    }
  }
}

.dashboard {
  display: flex;
  flex-direction: row;

  .left {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .right {
    padding: 10px 10px;
    width: 100%;
  }
}
