@import '~@angular/material/theming';
@import 'styles-colors';
@import 'src/app/app.component';
@import 'src/app/status-indicator/status-indicator.component';
@import 'src/app/color-grid/color-grid.component';

@mixin custom-components-theme($theme) {
  @include styles-colors-theme($theme);
  @include app-theme($theme);
  @include status-indicator-theme($theme);
  @include color-grid-theme($theme);
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mtg-business: (
  super-special-status: #9d1681,
  contrast: (
    super-special-status: #ffffff,
  ),
);

$mtg-primary: (
  100: #b6c4d2,
  300: #97abbf,
  500: #849ab1,
  700: #69809b,
  contrast: (
    100: #000000,
    300: #000000,
    500: #000000,
    700: #ffffff,
  ),
);
$mtg-accent: (
  100: #f5e0bd,
  300: #e8b665,
  500: #de9723,
  700: #d5841a,
  contrast: (
    100: #000000,
    300: #000000,
    500: #000000,
    700: #000000,
  ),
);
$mtg-warn: (
  100: #e68477,
  300: #db4f3d,
  500: #d23f2f,
  700: #c4261a,
  contrast: (
    100: #000000,
    300: #ffffff,
    500: #ffffff,
    700: #ffffff,
  ),
);

// The palettes. The optional parameters are the hues to be assigned to the keywords default, lighter and darker.
$mtg-primary-palette: mat-palette($mtg-primary, 500, 300, 700);
$mtg-accent-palette: mat-palette($mtg-accent, 500, 300, 700);
$mtg-warn-palette: mat-palette($mtg-warn, 500, 300, 700);

$mtg-theme: map-merge(
    mat-light-theme($mtg-primary-palette, $mtg-accent-palette, $mtg-warn-palette),
    (business: $mtg-business)
);
$mtg-force-primary-theme: mat-light-theme($mtg-primary-palette, $mtg-primary-palette, $mtg-warn-palette);

@include angular-material-theme($mtg-force-primary-theme);
@include custom-components-theme($mtg-theme);
